{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Movie Madness</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>
<body>
    <!-- Navbar -->
    <header>
        <a href="/" class="logo">
            <i class='bx bxs-movie' ></i>MOVIE MADNESS
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <!-- menu  -->
        <ul class="navbar">
            <li><a href="/" class="home-active">Home</a></li>
            <li><a href="#movies">Movies</a></li>
            <li><a href="#coming">Coming</a></li>
            <li><a href="/admin/">admin</a></li>
            <li>
                <div class="search">
                    <input type="text" name="query" placeholder="search movie">
                    <button><i class='bx bx-search'></i></button>
                </div>
            </li>
        </ul>
        <a href="#" class="btn">Sign In</a>
    </header>
    
    <!-- Home -->
    <section class="home swiper" id="home">
        <div class="swiper-wrapper">
            
            {% if recently_added %}
                {% for movie in recently_added %}
                <div class="swiper-slide container">
                    <img src="{{movie.thumbnail}}" alt="">
                    <div class="home-text">
                        <span>Recently Uploaded</span>
                        <h1>{{movie.title}}</h1>
                        <a href="/player/{{movie.pk}}" class="btn">Play Now</a>
                        <a href="/player/{{movie.pk}}" class="play">
                            <i class='bx bx-play'></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
               
          </div>
          <div class="swiper-pagination"></div>
    </section>

<!-- movies  -->
{% if movies %}
<section class="movies" id="movies">
      <h2 class="heading">Movies</h2>
      <!-- movies container  -->
      <div class="movies-container">

        <!-- box -->
        {% for movie in movies %}
            <div class="box">
                <a href="/player/{{movie.pk}}">
                <div class="box-img">
                    <img src="{{movie.thumbnail}}" alt="">
                </div>
                </a>
                <h3>{{movie.title}}</h3>
                <span>{{movie.duration}} min | {% for tag in movie.tags.all %} {{tag.name}} {% endfor %}</span>
            </div>
        {% endfor %}

      </div>
</section>
{% endif %}

<!-- Series  -->
{% if series %}
<section class="movies" id="movies">
      <h2 class="heading">Web Series</h2>
      <!-- movies container  -->
      <div class="movies-container">

        <!-- box -->
        {% for movie in series %}
            <div class="box">
                <a href="/series/{{movie.pk}}">
                <div class="box-img">
                    <img src="\{{movie.thumbnail}}" alt="">
                </div>
                </a>
                <h3>{{movie.title}}</h3>
                <span>{{movie.duration}} min | {% for tag in movie.tags.all %} {{tag.name}} {% endfor %}</span>
            </div>
        {% endfor %}
        
      </div>
</section>
{% endif %}

<!-- coming  -->
{% if upcoming %}
<section class="coming" id="coming">
    <h2 class="heading">Upcoming</h2>
    <!-- coming container  -->
    <div class="coming-container swiper">
       <div class="swiper-wrapper">
        
        {% for movie in upcoming %}
        <div class="swiper-slide box">
            <div class="box-img">
                <img src="{{movie.thumbnail}}" alt="">
            </div>
            <h3>{{movie.title}}</h3>
        </div>
        {% endfor %}

       </div>
    </div>
</section>
{% endif %}

<!-- Newsletter  -->
<!-- <section class="newsletter" id="newsletter">
    <h2>Subscribe To Get <br>Newsletter</h2>
    <form action="">
        <input type="email" class="email" placeholder="Enter Email" required>
        <input type="submit" value="Subscribe" class="btn">
    </form>
</section> -->

<!-- Footer  -->
<!-- <section class="footer">
    <a href="" class="logo">
        <i class="bx bxs-movie"></i>Sanamio
    </a>
    <div class="social">
        <a href=""><i class='bx bxl-facebook'></i></a>
        <a href=""><i class='bx bxl-twitter'></i></a>
        <a href=""><i class='bx bxl-instagram'></i></a>
    </div>
</section> -->

<!-- Copyright  -->
 <div class="copyright">
    <p>&#169; 2023 - ALl Right Reserved</p>
 </div>


  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="{% static 'home/script.js' %}"></script>

</body>
</html>