{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}    
    <!-- Home -->
    <section class="home swiper" id="home">
        <div class="swiper-wrapper">
            
            {% if recently_added %}
                {% for movie in recently_added %}
                <div class="swiper-slide container">
                    <img src="\{{movie.thumbnail}}" alt="">
                    <div class="home-text">
                        <span>Recently Uploaded</span>
                        <h1>{{movie.title}}</h1>

                        {% if movie.is_series %}
                            <a href="/series/{{movie.pk}}" class="btn">Open Now</a>
                        {% else %}
                            <a href="/player/{{movie.pk}}" class="btn">Play Now</a>
                            <a href="/player/{{movie.pk}}" class="play">
                                <i class='bx bx-play'></i>
                            </a>
                        {% endif %}
                        
                    </div>
                </div>
                {% endfor %}
            {% endif %}
               
          </div>
          <div class="swiper-pagination"></div>
    </section>

<!-- movies  -->
{% if movies %}
<section class="movies" id="movies">
      <h2 class="heading">Movies</h2>
      <!-- movies container  -->
      <div class="movies-container">

        <!-- box -->
        {% for movie in movies %}
            <div class="box">
                <a href="/player/{{movie.pk}}">
                <div class="box-img">
                    <img src="{{movie.thumbnail}}" alt="">
                </div>
                </a>
                <h3>{{movie.title}}</h3>
                <span>{{movie.duration}} min | {% for tag in movie.tags.all %} {{tag.name}} {% endfor %}</span>
            </div>
        {% endfor %}

      </div>
</section>
{% endif %}

<!-- Series  -->
{% if series %}
<section class="movies" id="movies">
      <h2 class="heading">Web Series</h2>
      <!-- movies container  -->
      <div class="movies-container">

        <!-- box -->
        {% for movie in series %}
            <div class="box">
                <a href="/series/{{movie.pk}}">
                <div class="box-img">
                    <img src="\{{movie.thumbnail}}" alt="">
                </div>
                </a>
                <h3>{{movie.title}}</h3>
                <span>{{movie.duration}} min | {% for tag in movie.tags.all %} {{tag.name}} {% endfor %}</span>
            </div>
        {% endfor %}
        
      </div>
</section>
{% endif %}

<!-- coming  -->
{% if upcoming %}
<section class="coming" id="coming">
    <h2 class="heading">Upcoming</h2>
    <!-- coming container  -->
    <div class="coming-container swiper">
       <div class="swiper-wrapper">
        
        {% for movie in upcoming %}
        <div class="swiper-slide box">
            <div class="box-img">
                <img src="{{movie.thumbnail}}" alt="">
            </div>
            <h3>{{movie.title}}</h3>
        </div>
        {% endfor %}

       </div>
    </div>
</section>
{% endif %}

{% endblock content %}