{% extends "base.html" %}
{% load static %}

{% block title %}Series{% endblock title %}

{% block content %}
<!-- Series  -->
{% if series %}
<section class="movies" id="movies" style="margin: 20px 0;">
      <h2 class="heading">{{series.title}}</h2>
      <p style="text-align: center;">{% for tag in series.tags.all %} {{tag.name}} {% endfor %}</p>
      <!-- movies container  -->
      <div class="movies-container">

        <!-- box -->
        {% for episode in series.episodes.all %}
            <div class="box">
                <a href="/player/{{episode.pk}}?ref=series">
                <div class="box-img">
                    <img src="\{{episode.thumbnail}}" alt="">
                </div>
                </a>
                <h3>{{episode.title}}</h3>
                <span>{{episode.duration}} min</span>
            </div>
        {% endfor %}
        
      </div>
</section>
{% endif %}

{% endblock content %}